[Unit]
Description=yandex backend school task service with docker compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/ubuntu/ybs_task/
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans web
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
